.content__right-col {
    .hours {
        line-height: 1em;
        padding: 0 1em;
        margin: 0em 0;
    }
    .hours--title {
        line-height: 1em;
        padding: 1em 0;
        margin: 0;
    }
    .address {
        line-height: 1em;
        padding: 0.3em 0;
        margin: 0;
    }
}

@media ( min-width: 674px) and (max-width: 944px) {
    .hours {
        font-size:1em;
    }
    .address {
        font-size:1em;
    }
}
