<header>
    <div class="title">
        <p class="title__hl">Dr. med. Thomas Weber und Kollegen</p>
        <p class="title__hl title--subtitle">Praxis für Allgemeinmedizin und Arbeitsmedizin</p>
    </div>
    <div class="navigation">
        <ul class="menu">
            <li class="menu__element"><a href="/">Startseite</a></li>
            <li class="menu__element"><a href="/leistungen">Leistungen</a></li>
            <li class="menu__element"><a href="/sprechzeiten">Sprechzeiten</a></li>
            <li class="menu__element"><a href="/anfahrt">Anfahrt</a></li>
        </ul>
    </div>
</header>
