<div class="content__right-col">
    <h1>Sprechzeiten</h1>
    <p class="hours hours--title">Montag bis Freitag:</p>
    <p class="hours">08.30 bis 12.30 Uhr</p>
    <p class="hours hours--title">Montag, Dienstag, Donnerstag:</p>
    <p class="hours">15.30 bis 18.00 Uhr</p>
    <p class="small">Terminvergabe nach telefonischer Vereinbarung.</p>
    <h1>Kontakt</h1>
    <p class="address">Neuer Markt 11</p>
    <p class="address">49733 Haren</p>
    <p class="address">Tel: 05932-72890</p>
    <p class="address">Fax: 05932-728919</p>
</div>
