<%= partial "header" %>
<div class="content default">
    <div class="content__left-col">
        <h1>Anfahrt</h1>

    <p class="address">Neuer Markt 11, 49733 Haren &#8226; Tel: 05932-72890</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2412.6736189199523!2d7.237045951299162!3d52.792193223674964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b795cf9a56b275%3A0xee7d4d65cdd38d85!2sNeuer+Markt+11%2C+49733+Haren+(Ems)!5e0!3m2!1sde!2sde!4v1483800352345" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <%= partial "rightCol" %>
</div>
<%= partial "footer" %>
