<%= partial "header" %>
<div class="content">
    <div class="content__left-col">
        <h1>Herzlich Willkommen!</h1>
        <h2>Die Praxis für Allgemeinmedizin am Neuen Markt 11 in Haren an der Ems heißt Sie herzlich willkommen.</h2>
        <p>Seit über 30 Jahren haben wir uns Ihre Gesundheit im Emsland zur Berufung gemacht. Heute kümmert sich ein erfahrenes Team aus 15 Mitarbeiterinnen und Mitarbeitern um das Wohl unserer Patienten und steht Ihnen gerne bei allen Fragen zur Seite.</p>
        <p>Wir verfügen über das gesamte diagnostische und therapeutische Leistungsspektrum in den Fachbereichen der Allgemeinmedizin und der Arbeitsmedizin, sodass wir bestmöglich nach aktuellem Stand der Medizin zu Ihrer Genesung beitragen können. Als Lehrpraxis für Allgemeinmedizin der Medizinischen Hochschule Hannover bilden wir zusätzlich angehende Ärzte aus und bieten Studierenden der Humanmedizin einen vertiefenden Einblick in das klinische Tätigkeitsfeld während des Medizinstudiums.</p>
        <p>Diese Seite soll Ihnen helfen, unsere Praxis und unser Leistungsangebot kennenzulernen - Wir freuen uns auf Ihren Besuch!</p>
    </div>
    <%= partial "rightCol" %>
</div>
<%= partial "footer" %>
