<%= partial "header" %>
<div class="content default">
    <div class="content__left-col">
        <h1>Leistungen</h1>
        <p>Unseren Patienten bieten wir eine Vielzahl diagnostischer und therapeutischer Leistungen, hier ein Auszug aus unserem Spektrum:</p>
        <ul>
            <li>Akupunktur</li>
            <li>Chirotherapie</li>
            <li>kleine Chirurgie</li>
            <li>psychosomatische Grundversorgung</li>
            <li>Abdomensonographie</li>
            <li>Neuraltherapie (im Rahmen der Schmerztherapie)</li>
            <li>Bestrahlung (im Rahmen der Schmerztherapie)</li>
            <li>Elektrotherapie (im Rahmen der Schmerztherapie)</li>
            <li>Ästhetische Medizin</li>
        </ul>
        <h1>Privatärztliche Leistungen</h1>
        <ul>
            <li>ärztliche Dienststelle der deutschen See-BG</li>
            <li>amtliche Gelbfieber-Impfstelle nach WltO-Standart</li>
            <li>Durchführung von Reiseberatungen und Reiseimpfungen</li>
            <li>Akupunktur</li>
            <li>Ästhetische Medizin</li>
        </ul>
    </div>
    <%= partial "rightCol" %>
</div>
<%= partial "footer" %>
