<%= partial "header" %>
<div class="content sprechzeiten">
    <div class="content__left-col">
        <h1>Im Notfall</h1>
        <p>Außerhalb der Sprechzeiten erfahren Sie über die Praxistelefonnummer <b>05932 / 72890</b>, welcher Arzt Notdienst hat. Am Mittwoch Nachmittag und an den Wochenenden erreichen Sie die Arztrufzentrale des Notfalldienstes unter der bundesweit einheitlichen Nummer 116 117 (siehe auch <a href="http://www.116117info.de">www.116117info.de</a>)</p>
        <h2>Wichtige Telefonnummern auf einen Blick</h2>
        <table class="phonenumbers">
            <tr>
                <td class="phonenumber">Notruf Rettungsdienst/Notarzt</td>
                <td class="rightalign">112</td>
            </tr>
            <tr>
                <td class="phonenumber">Notruf Polizei</td>
                <td class="rightalign">110</td>
            </tr>
            <tr>
                <td class="phonenumber">Giftnotrufzentrale, NRW</td>
                <td class="rightalign">0228 / 19240</td>
            </tr>
            <tr>
                <td class="phonenumber">Giftnotrufzentrale, Niedersachsen</td>
                <td class="rightalign">0551 / 19240</td>
            </tr>
            <tr>
                <td class="phonenumber">Kinder- und Jugendtelefon</td>
                <td class="rightalign">0800 / 1110333</td>
            </tr>
            <tr>
                <td class="phonenumber">Elterntelefon</td>
                <td class="rightalign">0800 / 1110550</td>
            </tr>
            <tr>
                <td class="phonenumber">Telefonseelsorge evangelisch</td>
                <td class="rightalign">0800 / 1110111</td>
            </tr>
            <tr>
                <td class="phonenumber">Telefonseelsorge katholisch</td>
                <td class="rightalign">0800 / 1110222</td>
            </tr>
        </table>
    </div>
    <%= partial "rightCol" %>
</div>
<%= partial "footer" %>
