<%= partial "header" %>
<div class="content default">
    <div class="content__left-col">
        <h1>Ärztliches Team</h1>
        <p>
        Dr. med. Thomas Weber<br/>
        Facharzt für Allgemeinmedizin<br/>
        Seit 1989 Inhaber der Praxis für Allgemeinmedizin in Haren
        </p>
        <p>
        Fr. Dr. med Sabine Grave<br/>
        Fachärztin für Allgemeinmedizin und Arbeitsmedizin<br/>
        Seit 2009 angestellte Ärztin
        </p>
        <p>
        Hr. Dr. med. Samir Algisch<br/>
        Facharzt für Allgemeinmedizin<br/>
        Seit 2017 angestellter Arzt<br/>
        </p>
        <h2>Nichtärztliches Praxisteam</h2>
        <p>
        Auf unser motiviertes Praxisteam, bestehend aus 12 Mitarbeiterinnen, die sich den wachsenden Ansprüchen entsprechend regelmäßig weiterbilden, sind wir ganz besonders stolz. <br/>
        Bitte sprechen Sie uns bei Rückfragen jederzeit gerne an.
        </p>
       
    </div>
    <%= partial "rightCol" %>
</div>
<%= partial "footer" %>
