@import '../vendor/susy/sass/susy';

$susy: (
  container: 1000px,
  columns: 12,
  gutters: 0,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: rgba(blue, .125),
  //   output: overlay
  // ),
  // output: isolate
);

@include border-box-sizing;

.container {
  @include container();
}
